@use 'src/sass/variables' as v;
@use 'src/sass/mixins' as m;

.home {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    &__div {
        background-color: #1a1d1c;
        height: 100%;
        width: 100%;
        z-index: 0;
        position: relative;
        &-absolute {
            height: 50vh;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
    &__container {
        width: 100%;
        max-width: v.$maxwidth;
        display: flex;
        height: 100vh;
        flex-flow: row wrap;
        @include m.tablet {
            justify-content: center;
        }
        @include m.movil {
            justify-content: center;
        }
    }
    &__img {
        @include m.tablet {
            display: none;
        }
        @include m.movil {
            display: none;
        }
        &1 {
            display: none;
            @include m.tablet {
                display: flex;
                max-width: 32em;
            }
            @include m.movil {
                display: flex;
            }
        }
        &-content {
            display: flex;
            align-items: center;
            width: 50%;
            z-index: 1;
            @include m.tablet {
                width: 100%;
            }
            @include m.movil {
                width: 100%;
            }
        }
    }
    &__info {
        &-container {
            width: 50%;
            display: flex;
            align-items: center;
            z-index: 1;
            @include m.tablet {
                width: 100%;
                color: #fff;
            }
            @include m.movil {
                width: 100%;
                color: #fff;
            }
        }
        &-title {
            &-container {
                font-size: v.$font-h2;
                font-family: 'philo2';
                color: #1a1d1c;
                width: 65%;
                line-height: .84em;
                padding: 0 0 3em 0;
                @include m.tablet {
                    width: 100%;
                    padding: 0 1rem;
                    text-align: center;
                    color: #fff;
                }
                @include m.movil {
                    width: 100%;
                    padding: 0 1rem;
                    text-align: center;
                    color: #fff;
                }
            }
        }
        &-p {
            &-container {
                font-size: v.$font-h5;
                font-family: 'philo2';
                color: #fff;
                @include m.tablet {
                    padding: 1.5em 1rem;
                }
                @include m.movil {
                    padding: 1.5em 1rem;
                }
            }
        }
        &-btn {
            padding: .8em 1.5em;
            font-family: 'philo2';
            border: 1px solid #fff;
            color: #fff;
            transition: background-color .3s ease;
            @include m.tablet {
                width: 70%;
            }
            @include m.movil {
                width: 100%;
            }
            @include m.hover {
                background-color: #fff;
                color: #263331;
                cursor: pointer;
            }
            &-container {
                margin: .8em 0;
                @include m.tablet {
                    padding: 0 1rem;
                }
                @include m.movil {
                    padding: 0 1rem;
                }
            }
        }
    }
}